/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 4/09/2017, 02:21:16 AM
    Author     : HP
*/

div.juego{
    background-image: url("../img/gatoflat.jpg");
    background-repeat: no-repeat;
    width: 500px;
    height: 500px;
    background-size: cover;
    margin-left: 30%;
}
div.juego> a{
    bottom:-350px;
}

div.boton{
    width: 50px;
    height: 50px;
     background-image: url("../img/o.png");
    background-repeat: no-repeat;
    background-size: cover;
  
}

label > input{ /* HIDE RADIO */
  visibility: hidden; /* Makes input not-clickable */
  position: absolute; /* Remove input from document flow */
}
label > input + img{ /* IMAGE STYLES */
  cursor:pointer;
  border:2px solid transparent;
}
label > input:checked + img{ /* (RADIO CHECKED) IMAGE STYLES */
  border:2px solid #f00;
}

.nuevoButton{
    width: 150px;
    position: relative;
    right: 20px;
    z-index: 5;
}
.arriba{
    z-index: 10;
}
td{
        display: -webkit-inline-box;
}